// Place all the styles related to the admin/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.product_detail_title {
  width: 200px;
}

.sidebar{
  width: 100px;
  min-height: 777px;

  background-color: #fff;
  background-image: radial-gradient(#7bded9 30%, transparent 30%);
  background-size: 20px 20px;
}

.image_box{
  width: 300px;
}

.product_data{
  width: 500px;
  height: 400px;
}