// Place all the styles related to the admin/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.product_detail_title {
  width: 200px;
}

.sidebar{
  width: 200px;
  min-height: 800px;

   background-color: #00bfff;
   background-image:
   repeating-linear-gradient(-45deg,
   #fff, #fff 7px,
   transparent 0, transparent 14px);
}

.image_box{
  width: 300px;
}

.product_data{
  width: 500px;
  height: 400px;
  margin-top: 56px;
}