<div class="container">
  <div class="mx-auto text-center">
    <h1>About</h1>
    <div>
      渋川屋は全国発送可能な通販サイトです<br />
      15歳以上の方であれば好きな商品を注文できます。<br />
      様々な魅力的な商品をご用意させていただいておりますので是非利用してください。
    </div>
  </div>
</div>